*.iml
.idea
.project
.settings
.classpath
target
/runtime
*.versionsBackup
.flattened-pom.xml
.DS_Store
live-plugins/node_modules
node_modules
.project
.settings
.classpath
.vscode
live-plugins/test/cypress/screenshots
live-plugins/test/cypress/videos
live-plugins/yarn-error.log
dist
*/coverage/
.directory
*.bundle.js
nbproject
live-plugins/plugin*/shared/
live-plugins/plugin*/js/
yarn-error.log
public
dockerdata
live-core/src/main/conf/live.properties